[submodule "third-party/lizard"]
	path = third-party/lizard
	url = https://github.com/inikep/lizard.git
[submodule "third-party/blake2"]
	path = third-party/blake2
	url = https://github.com/BLAKE2/BLAKE2.git
